@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}
